# Byte-compiled / optimized / DLL files
fastApp/__pycache__/
*.pyc
*.pyo

# IDE settings
.vscode/
.idea/

# Environment variables
*.env

# Log files
*.log

# Database files
*.db
*.sqlite

# Dependency directories
venv/
